.App {
  margin: 1em 2em;
}
.btn-more {
  cursor: pointer;
  margin: 1em auto;
  display: block;
  background: hsla(182, 98%, 97%, 1);
  outline: none;
  border: 1px solid hsla(182, 98%, 11%, 1);
  padding: 1em 2em;
  font-size: 0.9em;
  border-radius: 4px;
  color: hsla(182, 98%, 11%, 1);
  font-weight: bold;
  transition: opacity 200ms;
  opacity: 0.7;
}

.btn-more:hover {
  opacity: 1;
}

footer {
  margin: 5em 0em;
  font-size: 0.9em;
}
